.hm-link {
  --hm-link-color: var(--hm-text-color-regular);
  --hm-link-hover-color: var(--hm-color-primary);
  --hm-link-disabled-color: var(--hm-text-color-disabled);
}

.hm-link {
  color: var(--hm-link-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    color: var(--hm-link-hover-color);
  }

  &>span {
    border-bottom: 1px solid transparent;
  }

  &.is-underline:hover span {
    border-bottom: 1px solid var(--hm-link-hover-color);
  }

  &.is-disabled {
    color: var(--hm-link-disabled-color);
    cursor: not-allowed;
    pointer-events: none;
  }
}

@each $val in primary, success, danger, warning, info {
  .hm-link--$(val) {
    --hm-link-color: var(--hm-color-$(val));
    --hm-link-hover-color: var(--hm-color-$(val)-light-9);
    --hm-link-disabled-color: var(--hm-color-$(val)-light-7);
  }
}